.container__menu-title {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__menu-title h1 {
  margin-block: 1.6rem;
  font-size: 13.5rem;
  font-family: 'segoe UI';
}

.container__menu-title hr {
  width: 100%;
  margin-block: 2rem;
}
